# Compiled object files
*.o

# Compiled binary files
*.out
*.exe

# Precompiled Headers
*.gch

# Debug files
*.dSYM/
*.stackdump

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# IDE / Editor specific
.vscode/
*.code-workspace
*.idea/
*.swp
*~
